<h2 class="top_SP pt-4" *ngIf="id == undefined">
    <span>Add New User</span>
</h2>
<h2 class="pt-4 top_SP" *ngIf="id !== undefined">
    <span>Update User</span>
</h2>
<hr>
<div class="col-sm-8 pt-4 pb-4">
    <form [formGroup]="userForm" (ngSubmit)="SaveData()" #form="ngForm" class="row g-3">
        <div class="col-md-4">
            <label class="form-label">Salutation</label>
            <!-- <input type="text" name="salutation" class="form-control" formControlName="salutation"> -->
            <select class="form-control" name="salutation" formControlName="salutation">
                <option [ngValue]='null' disabled>-- Select Salutation --</option>
                <option>Mr</option>
                <option>Ms</option>
                <option>Mrs</option>
            </select>
            <div class="text-danger"
                *ngIf="userForm.controls['salutation'].errors && (form.submitted || userForm.controls['salutation'].touched)">
                <span [hidden]="!userForm.controls['salutation'].errors['required']"> Select salutation </span>
            </div>
        </div>

        <div class="col-md-8">
            <label class="form-label">Name</label>
            <input type="text" name="name" class="form-control" formControlName="name">
            <div class="text-danger"
                *ngIf="userForm.controls['name'].errors && (form.submitted || userForm.controls['name'].touched)">
                <span [hidden]="!userForm.controls['name'].errors['required']"> Enter User Name </span>
                <span [hidden]="!userForm.controls['name'].errors['minlength']"> Min Length is 5 </span>
                <span [hidden]="!userForm.controls['name'].errors['maxlength']"> Max Length is 50 </span>
            </div>
        </div>

        <div class="col-md-6">
            <label class="form-label">Age</label>
            <input type="number" name="age" class="form-control" formControlName="age">
            <div class="text-danger"
                *ngIf="userForm.controls['age'].errors && (form.submitted || userForm.controls['age'].touched)">
                <span [hidden]="!userForm.controls['age'].errors['required']"> Enter age </span>
                <span [hidden]="!userForm.controls['age'].errors['min']"> User must greater than 18 </span>
                <span [hidden]="!userForm.controls['age'].errors['max']"> User must less than 120 </span>

            </div>
        </div>

        <div class="col-md-6">
            <label class="form-label">Date Of Birth</label>
            <input type="date" name="dob" class="form-control" formControlName="dob">
            <div class="text-danger"
                *ngIf="userForm.controls['dob'].errors && (form.submitted || userForm.controls['dob'].touched)">
                <span [hidden]="!userForm.controls['dob'].errors['required']"> Enter Date Of Birth </span>
            </div>
        </div>

        <div class="col-md-4">
            <label class="form-label">Gender</label>
            <!-- <input type="text" name="gender" class="form-control" formControlName="gender"> -->
            <select class="form-control" name="gender" formControlName="gender">
                <option [ngValue]='null' disabled>-- Select Gender --</option>
                <option>Male</option>
                <option>Female</option>
            </select>
            <div class="text-danger"
                *ngIf="userForm.controls['gender'].errors && (form.submitted || userForm.controls['gender'].touched)">
                <span [hidden]="!userForm.controls['gender'].errors['required']">Please Select Gender</span>
            </div>
        </div>

        <div class="col-md-8">
            <label class="form-label">Phone</label>
            <input type="text" name="phone" class="form-control" formControlName="phone">
            <div class="text-danger"
                *ngIf="userForm.controls['phone'].errors && (form.submitted || userForm.controls['phone'].touched)">
                <span [hidden]="!userForm.controls['phone'].errors['minlength']"> Phone No must have 12 digit</span>
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" name="email" class="form-control" formControlName="email">
            <div class="text-danger"
                *ngIf="userForm.controls['email'].errors && (form.submitted || userForm.controls['email'].touched)">
                <span [hidden]="!userForm.controls['email'].errors['email']"> Enter valid Email</span>
            </div>
        </div>

        

        <div class="mb-3">
            <input type="submit" value="Add User" *ngIf="id == undefined" class="btn btn-primary">
            <input type="submit" value="Update User" *ngIf="id !== undefined" class="btn btn-primary">
        </div>
    </form>
</div>

<!-- <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div> -->