<!-- <h2 class="top_SP pt-4 pb-4" *ngIf="id == undefined">
    <span>Issue Book</span>
    <button class="btn btn-primary"[routerLink]="['']">Home</button>
</h2> -->
<h2 class="pt-4 top_SP" *ngIf="id !== undefined">
    <span>Issue Book</span>
    <button class="btn btn-primary" [routerLink]="['/Books']">Go To Books</button>
</h2>

<hr>
<div class="col-sm-6 pt-4 pb-4" *ngIf="id !== undefined">
    <form [formGroup]="userForm" (ngSubmit)="SaveData()" #form="ngForm">
        <div class="mb-3">
            <label *ngIf="book != undefined" class="form-label">Select User to Issue "{{book.title}}" by {{book.author}}</label>
            <select class="form-control" name="user" formControlName="user">
                <option [value]='null'>-- Select User --</option>
                <option *ngFor="let item of users" [value]="item.userId">
                    {{item.salutation}}. {{item.name}}
                </option>
            </select>
            <div class="text-danger"
                *ngIf="userForm.controls['user'].errors && (form.submitted || userForm.controls['user'].touched)">
                <span [hidden]="!userForm.controls['user'].errors['required']"> Please select User </span>
            </div>
        </div>

        <div class="mb-3">
            <!-- <input type="submit" value="Add Course" *ngIf="id == undefined" class="btn btn-primary"> -->
            <input type="submit" value="Issue Book" *ngIf="id !== undefined" class="btn btn-primary">
        </div>
    </form>
</div>

<!-- <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div> -->