<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid justify-content-start">

    <a class="navbar-brand">
      <img src="https://seeklogo.com/images/C/cv-library-logo-82180EAC04-seeklogo.com.png" alt="" width="100"
        height="35" class="d-inline-block align-text-top filter-green"> </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['Books']">Books</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['Users']">Users</a>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" [routerLink]="['Submit']">Submit Books Here</a>
        </li> -->
      </ul>
    </div>

    <div class="d-flex">
      <button class="btn btn-sm btn-primary" type="button"
        [routerLink]="['IssueOrSubmit',{id:undefined,name:'Submit'}]">Submit Books
        Here</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-sm btn-light" type="button" [routerLink]="['/AddOrEditUser']">Register New
        User</button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>



<div class="container">
  <router-outlet></router-outlet>
</div>